* {
    padding: 0;
    margin: 0;
}

.logo {
    display: inline-flex;
    width: 8vw;
    float: left;
    padding: 6px;
}

ul {
    display: flex;
    list-style: none;
    align-items: right;
}

li {
    display: flex;
    font-family: Arial;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
}

.nav-item:hover {
    color: red;

}

.nav-item {
    display: flex;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
}

.image {
    display: flex;
    width: 99vw;
    padding: 0;
    margin: 0;
}

.text {
    font-size: 32px;
    align-items: center;
    text-align: center;
}

.company {
    display: inline-flex;
    width: 50vw;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.company:hover {
    background-color: cornflowerblue;
}

.title {
    display: inline-flex;
    width: 10px;
    position: absolute;
    font-size: 300;
}

.lupa {
    width: 200px;
    top: 10px;
    display: inline-flex;
}

.service {
    display: inline-flex;
    width: 50vw;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.service:hover {
    background-color: cornflowerblue;
}

.title {
    display: flex;
    width: 10px;
    position: absolute;
    font-size: 300;
}

.moto {
    width: 200px;
    top: 10px;
    display: inline-flex;
}

h2 {
    padding: 5px;
    margin: 5px;
    position: relative;
}

.braço {
    width: 200px;
    top: 10px;
    display: inline-flex;
}

.van {
    width: 200px;
    top: 10px;
    display: flex;
}

.alvo {
    width: 200px;
    top: 10px;
    display: inline-flex;
}

.interrog {
    width: 200px;
    top: 10px;
    display: flex;
}

.percent {
    width: 200px;
    top: 10px;
    display: flex;
}

footer {
    bottom: 0;
    background-color: grey;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.social {
    display: inline-flex;
    padding: 2px;
    margin: 2px;
    width: 6vw;
    position: relative;
    margin-left: 200px;
}

.text-social {
    display: inline-flex;
    padding: 2px;
    margin: 2px;
}

.formulario {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
}

#candidato {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

input {
    padding: 4px;
    margin: 4px;
}