* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    background-color: lightgreen;
    background-image: linear-gradient( to right, palegreen,moccasin, transparent, black );
}

h3 {
    display: inline-flex;
    border: 2px solid black;
    width: 32%;
    height: 30px;
    align-items: center;
    margin: 8px;
    box-shadow: 4px 4px black;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 16px;
    padding: 2px;
}

button {
    width: 10%;
    height: 36px;
    margin: 4px;
    box-shadow: 4px 4px black;
    border-radius: 4px;
    padding: 4px;
    margin-left: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

button:hover {
    color: red;
    background-color: lightsteelblue;
}

img {
    display: flex;
    width: 50%;
    float: right;
    margin: 2%;
    padding-right: 32px;
    
}