body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

.green-background {
    background-color: green;
    display: inline-flex;
    height: 30px;
    width: 25%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}

.yellow-background {
    background-color: yellow;
    display: inline-flex;
    height: 30px;
    width: 75%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.pink-background {
    background-color: fuchsia;
    width: 100vw;
    height: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-background {
    background-color: blue;
    padding: 30px;
    width: 30vw;
    height: 95px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.red-background {
    background-color: red;
    padding: 30px;
    width: 30vw;
    height: 95px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;    
}

.lightgreen-background {
    background-color: lightgreen;
    padding: 30px;
    width: 30vw;
    height: 95px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.purple-background {
    background-color: purple;
    padding: 1%;
}