#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#água {
    grid-column-start: 3;
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#Poção {
    grid-column-start: 5;
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#água {
    grade-coluna-início: 1;
    grid-column-end: 4;
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#água {
    grade-coluna-início: 5;
    grid-column-end: 2;
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
#água {
    grade-coluna-início: 1;
    grid-column-end: -2
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#Poção {
    grid-column-start: -3;
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#água {
    início da coluna da grade: 2;
    grid-column-end: span 2;
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#água {
    grade-coluna-início: 1;
    grid-column-end: span 5;
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#água {
    grid-column-start: 3
    extremidade da coluna da grade: 6;
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#água {
    grid-column: 4 / 6;
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#água {
    grid-column: -2 / 2;
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#água {
    grid-row-start: 3;
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#água {
    grid-row: 3 / 6;
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#Poção {
    grid-column: 2;
    grid-row: 5;
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#água {
    grid-column: 2 / 6;
    grid-row: 1 / 6;
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#água {
    grid-area: 1 / 2 / 4 / 6;
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#water-1 {
    área de grade: 1/4/6/5;
  }  
#water-2 {
    grid-area: 2/ 3 / 5 / 6;
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
.água {
    pedido: 0;
  }  
#Poção {
    order: 2
  }



#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
.água {
    pedido: 0;
  }  
.Poção {
    order: -2;
  }



#garden {
    display: grade;
    grid-template-columns: 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#água {
    grade-coluna: 1;
    grade-linha: 1;
  }



#garden {
    display: grade;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#água {
    grade-coluna: 1;
    grade-linha: 1;
  }



#garden {
    display: grade;
    grid-template-columns: 100px 3em 40%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }



#garden {
    display: grade;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  


#garden {
    display: grade;
  grid-template-columns:  50px 1fr 1fr 1fr 50px;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }  
#água {
    área de grade: 1/1/6/2;
  }
#Poção {
    área de grade: 1/5/6/6;
  }



#garden {
    display: grade;
    grid-template-columns: 75px 3fr 2fr;
    linhas de modelo de grade: 100%;
  }



  #garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
  grid-template-rows: 50px 0 0 0;
  }  
#água {
    coluna-grade: 1/6;
    grade de linha: 5/6;
  }



#garden {
    display: grade;
    grid-template: 60% / 200px;
  }  
#água {
    grade-coluna: 1;
    grade-linha: 1;
  }



#garden {
    display: grade;
    grid-template: 1fr 50px / 1fr 4fr;
  }


finalizado